# Flutter/Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
build/
pubspec.lock
generated_plugin_registrant.dart

# IDEs
.idea/
.vscode/
*.iml

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Firebase (keep your keys private)
android/app/google-services.json
ios/Runner/GoogleService-Info.plist

# Environment / secrets
.env
*.env

# Temporary files
*.tmp
*.swp
*.bak

# Other tools
coverage/
.gradle/
node_modules/
